@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
*{
    font-family: 'Montserrat', sans-serif;
}

body{
    margin: 0;
}

#logo{
    max-width: 18em;
    min-width: 12em;
    width: 15em;
    padding: 1em;
    border-radius: 30px;
    justify-content: flex-start;
}

#car{
    margin:3em;
    height: 3em;
    cursor: pointer;
}

header{
    margin: 0;
}

#menu{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

ul#slide-out h4{
    padding-left: 2em;
}

main{
    margin:2em;
}

#cards{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.card{
    border-radius: 12px !important;
    border-color: lightgray;
    border-style: solid;
    border-width: .5px;
    width:20em;
    margin: 1em !important;

}

.card-content{
    margin:1em;
    padding: 0 !important;
}

.card-action{
    padding: 0 !important;
    top: 0 !important;
}

.card img{
    width: 100%;
}